<div>
    <button mat-flat-button color="primary" (click)="abrirPaginaEdicao()">Cadastrar Novo Personagem</button>
  </div>
  <br/>
  <br/>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  <br/>
  <br/>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  
      <!-- ID Column -->
      <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>
  
      <!-- Nome Column -->
      <ng-container matColumnDef="nomePersonagem">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nomePersonagem}} </mat-cell>
      </ng-container>

      <!-- Observacao Column -->
      <ng-container matColumnDef="observacao">
        <mat-header-cell *matHeaderCellDef> Observação </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.observacao}} </mat-cell>
      </ng-container>

      <!-- Tipo Personagem Column -->
      <ng-container matColumnDef="tipoPersonagem">
        <mat-header-cell *matHeaderCellDef> Tipo de Personagem </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ getTipoPersonagem(element.tipoPersonagem) }} </mat-cell>
      </ng-container>
  
      <!-- Ações Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editarPersonagem(element.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deletePersonagem(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
